/* Base */
body {
background-color: AntiqueWhite;
color: DarkSlateGray;
font-family: arial, helvetica, sans-serif;
}
ol {list-style-type: lower-alpha;
padding: 5em;}


/* unvisited link */
a:link {color: DarkSlateGray;}
/* visited link */
a:visited {color: DarkSlateGray;}
/* mouse over link */
a:hover {color: DarkGoldenRod;}
/* selected link */
a:active {color: DarkSlateGray;}

/*Table*/
table {text-align:center;
  border: 1px solid black;
  
}

edition {text-align:center;}

page {}

description {}


nature {}

tech {}

color {}

shape {}



